{{ $favicon := resources.Get "lemorse.ico" }}

<!DOCTYPE html>
<html lang="fr">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    <main>
    {{ block "main" . }}{{ end }}
    </main>
    
    <footer>
        {{ partial "footer.html" . }}
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/js/jquery.justifiedGallery.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('#my-justified-gallery').justifiedGallery({
                rowHeight: 250,
                margins: 1,
                captions: false
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const dropdown = document.getElementById("languageDropdown");
            const toggle = dropdown.querySelector(".dropdown-toggle");

            toggle.addEventListener("click", function (e) {
            e.stopPropagation(); // prevent click bubbling
            dropdown.classList.toggle("open");
            });

            // Close the dropdown when clicking outside
            document.addEventListener("click", function () {
            dropdown.classList.remove("open");
            });
        });
    </script>

</body>
</html>
