{{ define "title" }}
{{ partial "title.html" . }}
{{ end }}


{{ define "main" }}

{{ $allPhotos := site.Data.photos }}
{{ $speciesList := slice }}

{{ range .RegularPages }}
    {{ $matchingPhotos := where $allPhotos "species_id" "eq" .Params.id }}
    {{ if gt (len $matchingPhotos) 0 }}
        {{ $sortedMatchingPhotos := sort $matchingPhotos ".date" "asc" }}
        {{ $photo := index $sortedMatchingPhotos 0 }}
        {{ $speciesList = $speciesList | append (dict "species" . "photo" $photo) }}
    {{ end }}
{{ end }}

{{ $sortedSpeciesList := sort $speciesList "photo.dominant_color_hue" "asc" }}

<h1 class="title">{{ partial "title.html" . }}</h1>
<div id="my-justified-gallery">
    {{ range $sortedSpeciesList }}
        {{ $species := .species }}
        {{ $photo := .photo }}

        <a href="{{ $species.RelPermalink }}">
            {{ partial "image-container.html" (dict
                "photo"         $photo
                "speciesName"   $species.Params.name
                "withCaption"   true
            ) }}
        </a>
    {{ end }}
</div>

{{ end }}
