{{ define "title" }}
{{ partial "species/title.html" . }}
{{ end }}


{{ define "main" }}

{{ $allPhotos := site.Data.photos }}
{{ $matchingPhotos := where $allPhotos ".species_id" "eq" .Params.id }}
{{ $shuffledPhotos := shuffle $matchingPhotos }}
<!-- {{ $sortedMatchingPhotos := sort $matchingPhotos ".date" "asc" }} -->

<article>
    <h1 class="title">{{ partial "species/title.html" . }}</h1>
    <div id="my-justified-gallery">
        {{ range $photo := $shuffledPhotos }}
            {{ partial "image-container.html" (dict
                "photo"         $photo
                "speciesName"   .Params.name
                "withCaption"   true
            ) }}
        {{ end }}
    </div>
</article>

{{ end }}