{{ define "main" }}

{{ $allPhotos := site.Data.photos }}
{{ $matchingPhotos := where $allPhotos ".species_id" "eq" .Params.id }}
{{ $sortedMatchingPhotos := sort $matchingPhotos ".date" "asc" }}

<article>
    <h1 class="title">{{ .Params.name }} ({{ .Params.scientific_name }})</h1>
    <div id="my-justified-gallery">
        {{ range $photo := $sortedMatchingPhotos }}
            {{ partial "image-container.html" (dict
                "filename" $photo.signed_filename
                "alt"  .Params.name
                "id" $photo.id
            ) }}
        {{ end }}
    </div>
</article>

{{ end }}