{{ define "main" }}

{{ $allPhotos := where .Site.RegularPages "Section" "photos" }}
{{ $matchingPhotos := where $allPhotos "Params.species_id" "eq" .Params.id }}
{{ $sortedMatchingPhotos := sort $matchingPhotos "Params.date" "asc" }}

    <article>
        <h1>{{ .Title }}</h1>
        <p>{{ .Params.emoji }}</p>
        <p title="Nom vernaculaire">{{ .Params.french_name }}</p>
        <p title="Nom scientifique">{{ .Params.scientific_name }}</p>

        <div class="mosaic">
            {{ range $index, $photo := $sortedMatchingPhotos }}
                {{ $img := partial "imgproxy.html" (dict "filename" $photo.Params.filename "width" 150) }}
                <a href="#img{{ $index }}">
                    <img src="{{ $img }}" alt="{{ .Params.french_name }}" loading="lazy">
                </a>

                <!-- Zoom modal -->
                <div id="img{{ $index }}" class="zoom-modal">
                    <a href="#" style="position:absolute;top:20px;right:30px;font-size:2em;color:white;text-decoration:none;">&times;</a>
                    {{ $img := partial "imgproxy.html" (dict "filename" $photo.Params.filename) }}
                    <img src="{{ $img }}" alt="{{ .Params.french_name }}" loading="lazy">
                </div>

            {{ end }}
        </div>
    </article>
{{ end }}