body {
    font-family: sans-serif;
}

/* Mosaic styles */
.mosaic {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Thumbnail styles */
.mosaic img {
    cursor: zoom-in;
    transition: transform 0.2s ease;
}

.mosaic a > img:hover {
    transform: scale(1.05);
}

.mosaic a > img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* Zoom Modal Styles */
.zoom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100vw; height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.zoom-modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 0 20px black;
}

.zoom-modal:target {
    display: flex;
}