{{/*
    Don t forget to initialize the carousels by using:

    ```
    {{ define "scripts" }}
        <!-- Initialize the carousels -->
        {{ $carouselJS := resources.Get "js/carousel.js" | minify | fingerprint }}
        <script src="{{ $carouselJS.Permalink }}"></script>
    {{ end }}
    ```
*/}}

{{ $species := where (where .Page.Site.AllPages "Lang" .Lang) "Section" "species" }}
{{ $locations := where (where .Page.Site.AllPages "Lang" "fr") "Section" "locations" }}
{{ $photos := .Page.Site.Data.photos }}

{{ $publicationPhotos := where $photos "id" "in" .Publication.Params.photo_ids }}
{{ $publicationSpecies := index (where $species ".Params.id" (index $publicationPhotos 0).species_id) 0 }}
{{ $publicationLocation := index (where $locations ".Params.id" (index $publicationPhotos 0).location_id) 0 }}

<article class="publication {{ if .isReversed }}reverse{{ end }}" data-id="{{ .Publication.Params.id }}">
    <div class="details">
        <h3>{{ .Publication.Params.published_at }}</h3>
        <!-- <div class="content">
            {{ .Publication.Content | replaceRE "\n" "<br/>" | safeHTML }}
        </div> -->
        <div class="content">
            {{ $inlinedLocation := partial "locations/inline.html" (slice
                    $publicationLocation.Params.sublocation
                    $publicationLocation.Params.city
                    $publicationLocation.Params.department
                    $publicationLocation.Params.region
                    $publicationLocation.Params.country
                )}}
            <span title="{{ $publicationSpecies.Params.type }}">{{ $publicationSpecies.Params.emoji }}</span>
            <br/>
            <a href="{{ $publicationSpecies.RelPermalink }}" title="{{ $publicationSpecies.Params.name }}">
                {{ $publicationSpecies.Params.name }}
            </a>
            <br/>
            <a href="{{ $publicationSpecies.RelPermalink }}" title="{{ $publicationSpecies.Params.scientific_name }}">
                {{ $publicationSpecies.Params.scientific_name }}
            </a>
            <br/>
            <br/>
            <a href="{{ $publicationLocation.RelPermalink }}" title="{{ $inlinedLocation }}">
                🗺️ {{ $inlinedLocation }}
            </a>
            <br/>
            📅 {{ partial "publication/format_date.html" (dict "date" (index $publicationPhotos 0).date) }}
            <br/>
            <br/>
            📷 {{ (index $publicationPhotos 0).camera }}<br/>
            🔭 {{ (index $publicationPhotos 0).lens }}<br/>
        </div>
    </div>

    <div class="carousel">
        <div class="glider-container">
            <div class="glider">
                {{ range $publicationPhotos }}
                    {{ $url := partial "imgproxy.html" (dict "filename" .signed_filename "width" 600) }}
                    <img src="{{ $url }}" loading="lazy" data-id="{{ .id }}"/>
                {{ end }}
            </div>

            {{ if gt (len $publicationPhotos) 1 }}
                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
            {{ end }}
        </div>

        {{ if gt (len $publicationPhotos) 1 }}
            <div role="tablist" class="dots"></div>
        {{ end }}
    </div>
</article>
