<div class="footer-menu">
    <div class="footer-content">
        <a class="footer-brand" href="/">
                <span>LeMorse Photography</span>
                <img src="/images/logo.svg" alt="LeMorse Photography Logo" class="footer-logo"/>
        </a>

        <nav class="footer-nav">
            <ul>
                {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>

        <div class="footer-social">
            <a href="https://instagram.com/lemorse.photography" target="_blank" aria-label="Instagram">
                <img src="/icons/instagram.svg" alt="Instagram"/>
            </a>

            <a href="https://www.facebook.com/61555846563827" target="_blank" aria-label="Facebook">
                <img src="/icons/facebook.svg" alt="Facebook"/>
            </a>
        </div>

        <div class="footer-language">
            {{ partial "language-switcher.html" . }}
        </div>
    </div>
    <div class="footer-copyright">
        <a href="{{ .Site.Params.linkedin_url }}" target="_blank" aria-label="LinkedIn">
            {{ .Site.Copyright }}
        </a>
    </div>
</div>