<div class="footer-content">
    <div class="footer-brand">
        <span>LeMorse Photography</span>
        <img src="/images/logo.svg" alt="LeMorse Photography Logo" class="footer-logo" />
    </div>

    <nav class="footer-nav">
        <ul>
            <li><a href="/species">Species</a></li>
            <li><a href="/locations">Locations</a></li>
        </ul>
    </nav>

    <div class="footer-social">
        <a href="https://instagram.com/lemorse.photography" target="_blank" aria-label="Instagram">
            <img src="/icons/instagram.svg" alt="Instagram" />
        </a>

        <a href="https://www.facebook.com/61555846563827" target="_blank" aria-label="Facebook">
            <img src="/icons/facebook.svg" alt="Facebook" />
        </a>
    </div>
</div>