<div class="language-dropdown" id="languageDropdown">
    <button class="dropdown-toggle" type="button">
        <img src="{{ printf "flags/%s.svg" .Site.Language.Lang | relURL }}" alt="{{ .Site.Language.LanguageName }}" width="24" height="16" />
        <!-- <span>{{ .Site.Language.LanguageName }}</span> -->
        <span class="dropdown-icon">▲</span>
    </button>
    <ul class="dropdown-menu">
        {{ range .Translations }}
            <li>
                <a href="{{ .Permalink }}">
                    <img src="{{ printf "flags/%s.svg" .Language.Lang | relURL }}" alt="{{ .Language.LanguageName }}" width="24" height="16" />
                    <!-- {{ .Language.LanguageName }} -->
                </a>
            </li>
        {{ end }}
    </ul>
</div>

