{{/*
    Don t forget to initialize the carousels by using:

    ```
    {{ define "scripts" }}
        <!-- Initialize the carousels -->
        {{ $carouselJS := resources.Get "js/carousel.js" | minify | fingerprint }}
        <script src="{{ $carouselJS.Permalink }}"></script>
    {{ end }}
    ```
*/}}

<article class="publication {{ if .isReversed }}reverse{{ end }}" data-id="{{ .Publication.Params.id }}">
    <div class="details">
        <h3>{{ .Publication.Params.published_at }}</h3>
        <div class="content">
            {{ .Publication.Content | replaceRE "\n" "<br/>" | safeHTML }}
        </div>
    </div>

    <div class="carousel">
        <div class="glider-container">
            <div class="glider">
                {{ range .Photos }}
                    {{ $url := partial "imgproxy.html" (dict "filename" .signed_filename "width" 600) }}
                    <img src="{{ $url }}" loading="lazy" data-id="{{ .id }}"/>
                {{ end }}
            </div>

            {{ if gt (len .Photos) 1 }}
                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
            {{ end }}
        </div>

        {{ if gt (len .Photos) 1 }}
            <div role="tablist" class="dots"></div>
        {{ end }}
    </div>
</article>
