{{ define "main" }}

<div class="profile-header">
    <img src="/images/profile.jpg" alt="Le Morse logo" class="profile-logo">
    <p class="profile-name">Le Morse Photography</p>
</div>

<div class="publications">

    {{ $publications := where (where (where .Site.AllPages "Lang" "fr") "Section" "publications") "Kind" "page" }}
    {{ $publications = sort $publications "Params.published_at" "desc" }}
    {{ $lastPublications := first 3 $publications }}

    {{ range $i, $publication := $lastPublications }}
        {{ partial "publication/single.html" (dict "Publication" $publication "isReversed" (modBool $i 2) "Lang" $.Lang "Page" . ) }}
    {{ end }}
</div>

{{ end }}


{{ define "scripts" }}
    <!-- Initialize the carousels -->
    {{ $carouselJS := resources.Get "js/carousel.js" | minify | fingerprint }}
    <script src="{{ $carouselJS.Permalink }}"></script>
{{ end }}