{{ define "main" }}

<h1 class="title">{{ partial "get-menu-name.html" . }}</h1>
<div>
    <ul>
    {{ range where (where (where .Site.AllPages "Lang" "fr") "Section" "locations") "Kind" "page" }}
        <li>
            <a href="{{ .RelPermalink }}">
                {{ partial "inline-location.html" (slice
                    .Params.sublocation
                    .Params.city
                    .Params.department
                    .Params.region
                    .Params.country
                ) }}
            </a>
        </li>
    {{ end }}
    </ul>
</div>

{{ end }}