{{ define "title" }}
{{ partial "title.html" . }}
{{ end }}


{{ define "main" }}

{{/* 
    -----
    In the section below, we will build a hierarchical tree of locations.
    Both the `locations.city` and `locations.sublocation` parameters can be empty.
    We need to handle four edge cases:
        1. city is empty AND sublocation is empty (e.g., location.id == 40)
        2. city is empty AND sublocation is NOT empty (e.g., location.id == 1)
        3. city is NOT empty AND sublocation is empty (e.g., location.id == 46)
        4. city is NOT empty AND sublocation is NOT empty (e.g., location.id == 4)
    -----
    You can verify that all the links exist by comparing the results of the following command.
    ```bash
    echo "number of *a* markups in locations webpage: $(curl -s http://localhost:1313/fr/locations/ | xmllint --html --xpath '//body//main//a/@href' - 2>/dev/null | wc -l)"
    echo "number of locations: $(ls content/fr/locations/ | wc -l)"
    ```
*/}}

{{ $tree := dict }}
{{ $leaves := dict "department" (dict) "city" (dict) "sublocation" (dict) }}

{{ range .RegularPages }}

    {{ $country := .Params.country }}
    {{ $region := .Params.region }}
    {{ $department := .Params.department }}
    {{ $city := .Params.city }}
    {{ $sublocation := .Params.sublocation }}

    {{/* Decide the city key */}}
    {{ $city := .Params.city }}
    {{ if not $city }}
        {{ if .Params.sublocation }}
            {{ $city = .Params.sublocation }}
        {{ else }}
            {{ $city = "" }}
        {{ end }}
    {{ end }}

    {{/* Initialize country in tree */}}
    {{ if not (index $tree $country) }}
        {{/* Insert element in tree */}}
        {{ $tree = merge $tree (dict $country dict) }}
    {{ end }}

    {{/* Initialize region in tree */}}
    {{ $countryMap := index $tree $country }}
    {{ if not (index $countryMap $region) }}
        {{/* Insert element in tree */}}
        {{ $countryMap = merge $countryMap (dict $region dict) }}
        {{ $tree = merge $tree (dict $country $countryMap) }}
    {{ end }}

    {{/* Initialize department in tree */}}
    {{ $regionMap := index $countryMap $region }}
    {{ if not (index $regionMap $department) }}
        {{/* Insert element in tree */}}
        {{ $regionMap = merge $regionMap (dict $department dict) }}
        {{ $countryMap = merge $countryMap (dict $region $regionMap) }}
        {{ $tree = merge $tree (dict $country $countryMap) }}
    {{ end }}

    {{ if and (eq .Params.city nil) (eq .Params.sublocation nil) }}
        {{/* Add department in leaves - EDGE CASE 1 */}}
        {{ $departmentLeaves := index $leaves "department" }}
        {{ $departmentLeaves = merge $departmentLeaves (dict $department .) }}
        {{ $leaves = merge $leaves (dict "department" $departmentLeaves) }}
    {{ end }}

    {{/* Initialize city in tree */}}
    {{ if ne .Params.city nil }}
        {{/* Initialize city in tree */}}
        {{ $departmentMap := index $regionMap $department }}
        {{ if not (index $departmentMap $city) }}
            {{/* Insert element in tree */}}
            {{ $departmentMap = merge $departmentMap (dict $city dict) }}
            {{ $regionMap = merge $regionMap (dict $department $departmentMap) }}
            {{ $countryMap = merge $countryMap (dict $region $regionMap) }}
            {{ $tree = merge $tree (dict $country $countryMap) }}
        {{ end }}

        {{ if eq .Params.sublocation nil }}
            {{/* Add city in leaves - EDGE CASE 4 */}}
            {{ $cityLeaves := index $leaves "city" }}
            {{ $cityLeaves = merge $cityLeaves (dict $city .) }}
            {{ $leaves = merge $leaves (dict "city" $cityLeaves) }}
        {{ else }}
            {{/* Initialize sublocation in tree */}}
            {{ if ne .Params.sublocation nil }}
                {{/* Initialize sublocation in tree */}}
                {{ $cityMap := index $departmentMap $city }}
                {{ if not (index $cityMap $sublocation) }}
                    {{/* Insert element in tree */}}
                    {{ $cityMap = merge $cityMap (dict $sublocation dict) }}
                    {{ $departmentMap = merge $departmentMap (dict $city $cityMap) }}
                    {{ $regionMap = merge $regionMap (dict $department $departmentMap) }}
                    {{ $countryMap = merge $countryMap (dict $region $regionMap) }}
                    {{ $tree = merge $tree (dict $country $countryMap) }}
                {{ end }}
            {{ end }}
            {{/* Add sublocation in leaves - EDGE CASE 2 */}}
            {{ $sublocationLeaves := index $leaves "sublocation" }}
            {{ $sublocationLeaves = merge $sublocationLeaves (dict $sublocation .) }}
            {{ $leaves = merge $leaves (dict "sublocation" $sublocationLeaves) }}
        {{ end }}
    {{ end }}

    {{ if and (eq .Params.city nil) (ne .Params.sublocation nil) }}
        {{/* In this case, the sublocation become a city */}}
        {{/* Initialize city in tree */}}
        {{ $departmentMap := index $regionMap $department }}
        {{ if not (index $departmentMap $sublocation) }}
            {{/* Insert element in tree */}}
            {{ $departmentMap = merge $departmentMap (dict $city dict) }}
            {{ $regionMap = merge $regionMap (dict $department $departmentMap) }}
            {{ $countryMap = merge $countryMap (dict $region $regionMap) }}
            {{ $tree = merge $tree (dict $country $countryMap) }}
        {{ end }}

        {{/* Add sublocation in CITY leaves - EDGE CASE 3 */}}
            {{ $cityLeaves := index $leaves "city" }}
            {{ $cityLeaves = merge $cityLeaves (dict $sublocation .) }}
            {{ $leaves = merge $leaves (dict "city" $cityLeaves) }}
    {{ end }}

{{ end }}

<h1 class="title">{{ partial "title.html" . }}</h1>
<div>
    
    <ul>
{{- range $country, $regions := $tree }}
    <li>{{ $country }}
        <ul>
        {{- range $region, $departments := $regions }}
            <li>{{ $region }}
                <ul>
                {{- range $department, $cities := $departments }}
                    {{ $departmentLeaves := index $leaves "department" }}
                    {{ $leaf := index $departmentLeaves $department }}
                    <li>
                    {{ if ne $leaf nil }}
                        <a 
                            href="{{ $leaf.RelPermalink }}" 
                            title={{ partial "locations/inline.html" (slice
                                $leaf.Params.sublocation
                                $leaf.Params.city
                                $leaf.Params.department
                                $leaf.Params.region
                                $leaf.Params.country
                            ) }}
                        >
                    {{ end }}
                        {{ $department}}
                        {{ if ne $leaf nil }}
                            </a>
                        {{ end }}
                        <ul>
                        {{- range $city, $sublocations := $cities }}
                            {{ $cityLeaves := index $leaves "city" }}
                            {{ $leaf := index $cityLeaves $city }}
                            <li>
                                {{ if ne $leaf nil }}
                                    <a 
                                        href="{{ $leaf.RelPermalink }}" 
                                        title={{ partial "locations/inline.html" (slice
                                            $leaf.Params.sublocation
                                            $leaf.Params.city
                                            $leaf.Params.department
                                            $leaf.Params.region
                                            $leaf.Params.country
                                        ) }}
                                    >
                                {{ end }}
                                    {{ $city}}
                                    {{ if ne $leaf nil }}
                                        </a>
                                    {{ end }}
                                    <ul>
                                        {{- range $sublocation, $empty := $sublocations }}
                                            {{ $sublocationLeaves := index $leaves "sublocation" }}
                                            {{ $leaf := index $sublocationLeaves $sublocation }}
                                            <li>
                                                {{ if ne $leaf nil }}
                                                    <a 
                                                        href="{{ $leaf.RelPermalink }}" 
                                                        title={{ partial "locations/inline.html" (slice
                                                            $leaf.Params.sublocation
                                                            $leaf.Params.city
                                                            $leaf.Params.department
                                                            $leaf.Params.region
                                                            $leaf.Params.country
                                                        ) }}
                                                    >
                                                {{ end }}
                                                    {{ $sublocation}}
                                                    {{ if ne $leaf nil }}
                                                        </a>
                                                    {{ end }}
                                            </li>
                                        {{- end }}
                                    </ul>

                            </li>
                        {{- end }}
                        </ul>
                    </li>
                {{- end }}
                </ul>
            </li>
        {{- end }}
        </ul>
    </li>
{{- end }}
</ul>



</div>

{{ end }}