{{ define "title" }}
{{ partial "locations/title.html" . }}
{{ end }}


{{ define "main" }}

{{ $allPhotos := site.Data.photos }}
{{ $matchingPhotos := where $allPhotos ".location_id" "eq" .Params.id }}
{{ $shuffledPhotos := shuffle $matchingPhotos }}
<!-- {{ $sortedMatchingPhotos := sort $matchingPhotos ".date" "asc" }} -->

{{ $allSpecies := where .Site.RegularPages "Section" "species" }}

<article>
    <h1 class="title">
        {{ partial "locations/title.html" . }}
    </h1>
    <div id="my-justified-gallery">
        {{ range $photo := $shuffledPhotos }}

            {{ $matchingSpecies := where $allSpecies "Params.id" "eq" $photo.species_id }}
            {{ $firstMatchingSpecies := index $matchingSpecies 0 }}

            {{ partial "image-container.html" (dict
                "photo"         $photo
                "speciesName"   $firstMatchingSpecies.Params.name
                "withCaption"   true
            ) }}
        {{ end }}
    </div>
</article>

{{ end }}
