{{ define "main" }}

{{ $allPhotos := site.Data.photos }}
{{ $matchingPhotos := where $allPhotos ".location_id" "eq" .Params.id }}
{{ $sortedMatchingPhotos := sort $matchingPhotos ".date" "asc" }}

{{ $allSpecies := where .Site.RegularPages "Section" "species" }}

<article>
    <h1 class="title">
        {{ partial "inline-location.html" (slice
            .Params.sublocation
            .Params.city
            .Params.department
            .Params.region
            .Params.country
        ) }}
    </h1>
    <div id="my-justified-gallery">
        {{ range $photo := $sortedMatchingPhotos }}

            {{ $matchingSpecies := where $allSpecies "Params.id" "eq" $photo.species_id }}
            {{ $firstMatchingSpecies := index $matchingSpecies 0 }}

            {{ partial "image-container.html" (dict
                "filename" $photo.signed_filename
                "alt"      $firstMatchingSpecies.Params.name
                "caption"  $firstMatchingSpecies.Params.name
                "id"       $photo.id
            ) }}
        {{ end }}
    </div>
</article>

{{ end }}
