{{ define "title" }}
{{ partial "title.html" . }}
{{ end }}


{{ define "main" }}

<h1 class="title">{{ partial "title.html" . }}</h1>
<div class="publications">

    {{ $photos := .Site.Data.photos }}
    {{ $publications := where .Site.AllPages "Section" "publications" }}
    {{ $publications = where $publications "Lang" "fr" }}
    {{ $publications = sort $publications "Params.published_at" "desc" }}

    {{ range $i, $publication := $publications }}
        {{ $publicationPhotos := where $photos "id" "in" $publication.Params.photo_ids }}
        {{ partial "publication.html" (dict "Publication" $publication "Photos" $publicationPhotos "isReversed" (modBool $i 2)) }}
    {{ end }}
</div>
{{ end }}

{{ define "scripts" }}
    <!-- Initialize the carousels -->
    {{ $carouselJS := resources.Get "js/carousel.js" | minify | fingerprint }}
    <script src="{{ $carouselJS.Permalink }}"></script>
{{ end }}