{{ define "title" }}
{{ partial "title.html" . }}
{{ end }}


{{ define "main" }}

<h1 class="title">{{ partial "title.html" . }}</h1>
<div class="publications">
    
    {{ $publications := where (where .Site.AllPages "Lang" "fr") "Section" "publications" }}
    {{ $publications = sort $publications "Params.published_at" "desc" }}

    {{ range $i, $publication := $publications }}
        {{ partial "publication/single.html" (dict "Publication" $publication "isReversed" (modBool $i 2) "Lang" $.Lang "Page" . ) }}
    {{ end }}
</div>
{{ end }}

{{ define "scripts" }}
    <!-- Initialize the carousels -->
    {{ $carouselJS := resources.Get "js/carousel.js" | minify | fingerprint }}
    <script src="{{ $carouselJS.Permalink }}"></script>
{{ end }}